.image-modal {
  position: absolute;
  background: white;
  overflow: visible;
  border-radius: 8px;
  width: 250px;
  min-height: 250px;
  margin: 0 auto;
  translate: -50% -50%;
  color: $text-color;

  border-radius: 8px;
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  padding: $spacing-medium;
  // display: none;
  img {
    min-width: 175px;
    min-height: 175px;
    border-radius: 0 !important;
  }
}