.search-modal {
  position: fixed;
  inset: 32px 32px 0 32px;
  z-index: 99999;
  background-color: white;
  border-radius: 16px 16px 0 0;
  outline: none;
  padding: 0px;
  max-height: 1800px;
  max-width: 2000px;
  color: var(--primary-text-color);
  overflow: hidden;
  padding: $spacing-xl;

  .header {
    .search-input{
      // width: 100%;
      input{
        border-radius: 0;
        width: 100%;
        outline: 0;
        border: 0;
        border-bottom: 2px solid #ccc;
        
      }
    }
  }
  .main-content {
    // background-color: red;
    .card {
      min-width: 200px;
      max-width: 350px;
      gap: 16px
    }
  }

  li {
    // background-color: red;
    justify-content: start !important;
    width: 100%;
  }
  .wrapper {
    display: flex;
    gap: 32px;
    width: 100%;
    &:hover {
      
    }
  }

  .main-content {
    gap: 32px;
  }
}