.home-page {
  overflow-y: hidden;
  background-color: #fff;

  .hero-section {
    margin-block-start: 64px;
    padding-top: 3vw;
    // background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .hero-section-header {
      font-size: 4rem;
      line-height: 72px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 1.5vw;
    }

    .hero-section-header2 {
      text-align: center;
      font-size: 1.375rem;
      line-height: 40px;
      font-weight: 400;
      padding-bottom: 1.5vw;

    }

    .tabs {
      // background-color: blue;
      cursor: pointer;
      width: 70%;
      height: 71px;
      justify-content: center;
      padding-top: 1.5vw;
      text-align: start;
      border-bottom: 1px solid;
      border-color: #C3C6D4;
      gap: 64px;
      padding: 10px 10px;
      .tabs-header {
        text-align: start;
        font-size: 1rem;
        font-weight: 600;
        line-height: 24px;
      }

      .tabs-desc {
        text-align: start;
        font-size: 0.8125rem;
        line-height: 20px;
        font-weight: 400;
      }

      img {
        width: 45px;
        object-fit: contain;
      }
    }
  }
}

.group {
  margin: 32px 0 40px 0;
}

.star-wrapper {
  width: rem(124px);
  min-height: 122.19px;
  // max-width: 124px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  text-align: center;
  font-size: 0.875rem;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  margin: 8px;
  padding: 8px 8px 16px 8px;
  border: 1px solid #C3C6D4;

  span {
    color: #333333;
    transition: opacity 100ms ease-in-out;
    text-align: center;
    font-size: 0.875rem;
    opacity: 85%;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 8px;
  }

  img {
    width: 40px;
    height: 40px;
  }

  input {
    position: absolute;
    top: 8px;
    left: 8px;
  }
}

.tabs-preview-actions {

  .get-started-btn {
    min-width: 130px;
    font-size: 0.8125rem;
    padding: 16px 32px 16px 31px;
    font-weight: 300;
    background-color: #6161FF;
    color: #ffffff;
    border-radius: 40px;
    line-height: 17px;
    border: none;
    margin-bottom: 16px;

    &:hover {
      background-color: #5151d5;
    }
  }

  span {
    font-size: 0.8125rem;
    line-height: 18px;
    color: #676879;
  }
}

.top-logos-section {
  // gap: 32px;
  padding-top: 0px;
  padding-bottom: 90px;

  h2 {
    font-size: 1.375rem;
    line-height: 32px;
    font-weight: 400;
  }

  .logos {
    margin: auto;

    .images-logos-wrapper {
      width: 100%;

      .images-gallery {
        .images-gallery-row {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;

          .img-gallery {
            padding: 24px 0;
            align-items: center;
            width: 150px;
            display: flex;
            justify-content: center;

            img {
              max-height: 69px;
              max-width: 118px;
            }
          }
        }
      }
    }
  }
}

.boost-your-team {
  padding-top: 64px;
  padding-bottom: 90px;

  h2 {
    width: 30%;
    text-align: left;
    font-size: 2.25rem;
    line-height: 48px;
    font-weight: 700;
    color: #333;
  }

  .boost-your-team-cta {
    width: 40%;

    span {
      font-size: 1.375rem;
      line-height: 40px;
      word-break: break-word;
      padding-bottom: 16px;
    }

    .get-started-btn {
      min-width: 130px;
      font-size: 0.8125rem;
      padding: 16px 32px 16px 31px;
      font-weight: 300;
      background-color: #6161FF;
      color: #ffffff;
      border-radius: 40px;
      line-height: 17px;
      border: none;
      margin-bottom: 16px;

      &:hover {
        background-color: #5151d5;
      }
    }
  }
}

.preview-images-section {
  padding-bottom: 64px;
  .masonry-grid {
    max-width: 1440px;
    margin: auto;
    
    .grid-container {
      padding-left: 32px;
      display: grid;
      grid-template-areas:
      "column1 battery phone automation comment ."
        "column2 battery phone . . . "
        "column2 battery phone dashboard dashboard dashboard"
        "intergration intergration phone dashboard dashboard dashboard"
        ". pie phone dashboard dashboard dashboard"
        ". . . dashboard dashboard dashboard";
        grid-template-columns: 12.64vw 11.54vw 14.79vw 14.72vw 12.64vw 18%;
        grid-template-rows: 5vw 2.5vw 1.25vw 6.39vw 9.17vw auto;
        grid-gap: 1.67vw;
        
        .item {
          filter: drop-shadow(-10.8923px 14.523px 35.0973px rgba(29, 140, 242, 0.2));
          z-index: 1;

        img {
          border-radius: 8px;
        }
      }

      .item1 {
        grid-area: column1;
      }

      .item2 {
        grid-area: column2;
      }

      .item3 {
        grid-area: battery;

      }

      .item4 {
        grid-area: intergration;
      }

      .item5 {
        grid-area: pie;
      }

      .item6 {
        grid-area: phone;
      }

      .item7 {
        grid-area: automation;
      }

      .item8 {
        grid-area: comment;
      }

      .item9 {
        grid-area: dashboard;
      }
    }
  }
}

.scroll-paralex {

  .container {
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    background-color: #181B34;
    color: #fff;
    padding: 128px 96px;
    position: relative;

    // grid-column: 1;
    .cards {
      margin: auto;
      max-width: 1440px;
      grid-column: 1;

      .paralex-cards {
        display: flex;
        flex-direction: column;

        .paralex3 {
          .btn-get-started-stroke {
            min-width: 130px;
            font-size: 0.8125rem;
            padding: 16px 32px 16px 31px;
            font-weight: 300;
            background-color: transparent;
            border: 1px solid #fff;
            color: #ffffff;
            border-radius: 40px;
            line-height: 17px;
            // border: none;
            margin-top: 16px;

            &:hover {
              box-shadow: inset 0 0 0 1px;
            }
          }
        }

        .heading {
          h2 {
            margin-top: 128px;
            margin-bottom: 16px;
          }
        }

        .paragraph {
          p {
            width: 70%;
            font-size: 1.125rem;
            line-height: 32px;
            margin: 0;
            word-break: break-word;
          }
        }

        .user-comment {
          margin-top: 150px;
          gap: 16px;

          .comment {
            .avatar-comment {
              width: 70%;

              span {
                font-size: 0.875rem;
                line-height: 24px;
                font-weight: 300;
              }

              .span-comment {
                font-size: 0.875rem;
                line-height: 24px;
                font-weight: 300;
              }

              span {
                font-weight: bold;
              }
            }

            .avatar-role-name {
              .avatar-name {
                span {
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }

    .paralex-video {
      display: grid;
      grid-column: 3;

      video {
        // width: 75%;
        // width: 100%;
        border-radius: 8px;
        filter: drop-shadow(0px 8px 24px rgba(29, 140, 242, 0.5));
      }
    }
  }
}


.workflow-section {


  .worflow-section-wrapper {
    padding: 40px 0;
  }

  // background-color: red;
  .tabs {
    // background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .building-blocks-tabs {
      a {
        height: 100%;
        .active {
          fill: rgb(97, 97, 255);
          color: rgb(97, 97, 255);
        }
      }

      gap: 32px;
      // background-color: green;
      height: 83px;
      box-shadow: 0px 10px 30px rgba(29, 140, 242, 0.2);
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      margin-bottom: 40px;
      font-size: 0.875rem;

      .tab {
        // background: red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;
        position: relative;
        min-width: 100px;
        height: 100%;
        align-items: center;
        font-size: 0.875rem;
        color: #333;

        &:hover {
          background-color: #F0F3FF;

        }
      }
    }
  }

  .iframe-info {
    justify-content: center;
    align-items: center;
    text-align: left;

    video {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      max-height: 650px;
      padding: 56px 48px;
      filter: drop-shadow(0px 8px 24px rgba(29, 140, 242, 0.5));
    }

    .info {
      display: flex;
      flex-direction: column;
      // background-color: blue;
      justify-content: center;
      padding: 0 0 0 60px;
      width: 24%;

      h2 {
        margin-bottom: 16px;
        font-size: 1.75rem;
        line-height: 40px;
        font-weight: 400;
        color: rgb(97, 97, 255);
      }
    }

    // width: 50%;
  }
}

.monday-products {
  max-width: 1440px;
  padding-top: 20px;
  padding-bottom: 96px;
  margin: auto;

  .monday-products-cards {

    // background-color: red;
    .product-card {
      width: 286px;
      z-index: 100;
      margin: 32px 10px 0;
      padding: 32px 24px;
      border-radius: 8px;
      background-color: white;
      box-shadow: 0px 8px 24px 0 rgba(29, 140, 242, 0.16);
      transition: filter 0.2s ease-in-out;
      color: #333333;
      position: relative;

      .product-card-divider {
        box-sizing: content-box;
        border-width: 1px;
        border-style: solid;
        border-image: linear-gradient(to right, rgb(97, 97, 255), #ff158a00);
        border-image-slice: 1;
        margin-bottom: 20px;
        margin-top: 32px;
      }

      .product-card-use-cases {
        .product-card-use-cases-title {
          padding-bottom: 12px;
          font-size: 0.8125rem;
        }

        ul {
          li {
            margin-bottom: 5px;
            font-size: 0.8125rem;
            align-items: center;
            // align-items: center;
          }
        }
      }

      .btn-get-started-stroke {
        width: 220px;
        margin-bottom: 12px;
        font-size: 0.8125rem;
        padding: 8px 32px 8px 31px;
        font-weight: 300;
        background-color: transparent;
        color: #333333;
        background-color: #ffffff;
        border: none;
        border: 1px solid #333333;
        border-radius: 40px;
        line-height: 17px;
        margin-top: 16px;

        &:hover {
          box-shadow: inset 0 0 0 1px;
        }
      }

      .btn-learn-more {
        width: 220px;
        margin-bottom: 12px;
        font-size: 0.8125rem;
        font-weight: 500;
        background-color: transparent;
        color: #676879;
        border: none;
        border-radius: 40px;
        line-height: 17px;
        margin-top: 16px;
      }

      .product-card-header {
        margin-bottom: 32px;

        p {
          color: #676879;
          font-size: 0.8125rem;
          line-height: 1.125rem;
        }
      }
    }
  }
}