.board-view-group {
  margin-bottom: 1em;
  table {
    border-radius: 12px;
  }
  td,
  th {
    width: 300px;
    height: 50px;
  }
  th:not(:first-child, :last-child),
  td:not(:first-child, :last-child),
  tr:not(:last-of-type) td:first-child,
  tr:not(:last-of-type) td:last-child {
    box-shadow: 0 0 0 0.5px rgba(0, 0, 122, .3);
  }
  th:first-child {
    border-top-left-radius: 12px;
    box-shadow: 0 0 0 0.5px rgba(0, 0, 122, .3);
  }
  th:last-child {
    border-top-right-radius: 12px;
    box-shadow: 0 0 0 0.5px rgba(0, 0, 122, .3);
  }
  tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
    box-shadow: 0 0 0 0.5px rgba(0, 0, 122, .3);
  }
  tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
    box-shadow: 0 0 0 0.5px rgba(0, 0, 122, .3);
  }

  .input-wrapper{
    position: relative;
    padding: 0 1em;
    .icon-wrapper{
      position: absolute;
      top: 50%;
      left: 1.7em;
      translate: -50% -40%;
    }
    input{
      padding: 0 1.2em;
    }
  }
  .row-context{
    z-index: 100;
    right: 100%;
    top: 50%;
    translate: -5% -50%;
  }
}


