.board-view-group {
  margin-bottom: 1em;

  .board-title {
    margin-left: $spacing-small;
    margin-bottom: $spacing-small;
    cursor: grab;
    display: flex;
    align-items: center;
    position: relative;
    left: -38px;
    width: 100%;

    .menu-btn {
      opacity: 0;
      margin-right: 4px;
      top: 0;
    }

    .arrow-btn {
      display: flex;
      align-items: center;

      svg {
        width: 16px;
        height: 16px;
      }
    }

    span {
      display: none;
      font: 400 14px Figtree;
      color: #676879;
      align-items: center;
      margin-left: $spacing-small;
    }

    h2 {
      cursor: text;
      font: 500 18px Poppins;
      margin: 0;
      padding: 0;

      svg {
        display: none;
      }
    }

    &:hover {
      span {
        display: flex;
      }

      .menu-btn {
        opacity: 1;
      }
    }
  }

  table {
    width: max-content;
    min-width: 100%;
    td,
    th {
      height: 36px;
      width: max-content;
    }

    td:nth-child(1),
    th:nth-child(1) {
      width: 33px !important;
    }
    td:nth-child(2),
    th:nth-child(2) {
      width: 360px !important;
    }

    border-collapse: collapse;
    border-radius: 12px;
    position: relative;
    td:first-of-type::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 37px;
      width: 6px;
      background-color: rgb(162, 93, 220);
      border-top-left-radius: 6px;
    }
    td:not(:first-of-type, :last-of-type)::before {
      content: '';
      position: absolute;
      left: 0;
      height: 31px;
      width: 6px;
      background-color: rgb(162, 93, 220);
    }

    td:last-of-type::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 37px;
      width: 6px;
      background-color: rgba(163, 93, 220, 0.171);
      border-bottom-left-radius: 6px;
    }
  }

  th:not(:first-child, :last-child),
  td:not(:first-child, :last-child),
  tr:not(:last-of-type) td:first-child,
  tr:not(:last-of-type) td:last-child {
    box-shadow: 0 0 0 0.2px rgba(0, 0, 122, 0.3);
    max-height: 36px;
  }

  th:first-child {
    border-top-left-radius: 12px;
    box-shadow: 0 0 0 0.2px rgba(0, 0, 122, 0.3);
  }

  th:last-child {
    // border-top-right-radius: 12px;
    box-shadow: 0 0 0 0.2px rgba(0, 0, 122, 0.3);
  }

  tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
    box-shadow: 0 0 0 0.2px rgba(0, 0, 122, 0.3);
  }

  tr:last-child td:last-child {
    // border-bottom-right-radius: 12px;
    box-shadow: 0 0 0 0.2px rgba(0, 0, 122, 0.3);
  }

  .row-context {
    z-index: 500;
    left: -32px;
  }
}
