.dropdown-status-picker{
  padding: 0;
  margin: 0;
  gap: 0;
  .label-btn{
    width: 100%;
    height: 40px;
  }
}
.label-btn{
  border: none;
  outline: none;
  margin: .2em;
  width: 100%;
  height: 40px;
}

.cell {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  // Status menu
  .cell-context {
    z-index: 100;
    width: 200px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 120%;
    left: 50%;
    translate: -50% 0;
    &.hidden {
      display: none;
    }
    &.active {
      display: flex;
    }
  }

  //Members Hover Details
  .member-details-wrapper {
    padding: 0.5em 0;
    position: absolute;
    height: fit-content;
    bottom: 100%;
    left: 50%;
    translate: -50% 0;
    display: flex;
    align-items: center;
    .member-details {
      z-index: 100;
      display: grid;
      grid-template-columns: 100px 300px;

      border-radius: $border-radius-small;
      background-color: white;
      .avatar-logo {
        padding: $spacing-medium 0 0 $spacing-large;
        display: flex;
        align-items: start;
        width: 100px;
        img {
          height: 72px;
          width: auto;
          border-radius: 100%;
          overflow: hidden;
        }
      }
      .member-details-content {
        padding: $spacing-medium $spacing-large;
        width: 200px;
        display: flex;
        flex-direction: column;
      }
      .member-detail-btns {
        grid-column: 1 / -1;
        display: flex;
        align-items: end;
        justify-content: stretch;
        button {
          width: 100%;
        }
      }
    }
  }

  .member-add-selector {
    position: absolute;
    top: 120%;
    left: 50%;
    translate: -50% 0;

    width: 400px;
    z-index: 100;
    display: flex;
    flex-direction: column;

    border-radius: $border-radius-small;
    background-color: white;

    &.hidden {
      display: none;
    }
    &.active {
      display: flex;
    }
  }

  // Members img avatar
  .avatars-wrapper {
    display: flex;
    .avatar-logo {
      height: 32px;
      width: 32px;
      border-radius: 100%;
      overflow: hidden;
    }
  }
}
