.home-header {

  min-height: 72px;
  // max-width: 1440px;
  padding: 0 270px;
  align-items: center;

  a {
    font-size: 0.875rem;
    color: #535768;
    // padding: 8px 10px;
    cursor: pointer;
    font-weight: lighter;
    padding: 8px 10px;
    border-radius: 8px;
    // background-color: red;
    &:hover {
      color: #5034FF;
      background-color: #f0f3ff;
    }
  }

  img {
    height: 42px;
    margin-right: 16px;
  }

  .get-started-btn {
    height: 40px;
    min-width: 130px;
    font-size: 0.8125rem;
    padding: 8px 16px;
    font-weight: 300;
    background-color: #6161FF;
    color: #ffffff;
    border-radius: 40px;
    line-height: 17px;
    border: none;
    &:hover {
      background-color: #5151d5;
    color: #ffffff;
    }
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 10px 15px 10px #3a3a3a06;
  z-index: 9999999;
}