.board-section {
  overflow-y: hidden;
  min-width: 260px;

  .label {
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    min-height: 40px;

    h2 {
      font: 400 16px Figtree;
    }
  }

  .task-container {
    min-height: 530px;
    max-height: 657px;
    overflow-y: auto;
    padding: 12px 8px 16px 12px;
    background-color: #f6f7fb;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    &::-webkit-scrollbar {
      width: 0;
    }

    .card-container {
      .task-card {
        width: 236px;
        min-height: 120px;
        background-color: white;
        color: #323338;
        cursor: pointer;
        font: 400 13px Figtree;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
        border-radius: 4px;
        margin-bottom: 16px;
        padding: 8px;

        .card-header {
          margin-bottom: 8px;
        }

        .task-people {
          margin-bottom: 8px;

          span {
            color: #676879;

            svg {
              margin-right: 4px;
              width: 16px;
              height: 16px;
            }
          }

          .persons {
            background-color: #F5F6F8;
            width: 140px;
            height: 34px;
            border-radius: 4px;

            svg {
              width: 30px;
              height: 30px;
              border: 2px solid #F5F6F8;
              color: #6768794c;
            }
          }
        }

        .task-subitem {
          span {
            color: #676879;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            border: 1px solid transparent;
            padding: 0 2px;

            // max-width: 80px;
            svg {
              width: 16px;
              height: 16px;
            }
          }

          .subitem-actions {
            background-color: #F5F6F8;
            width: 140px;
            height: 34px;
            border-radius: 4px;

            svg {
              width: 24px;
              height: 24px;
              border: 2px solid #F5F6F8;
              color: #6768794c;
            }
          }
        }
      }

      .member-card {
        max-width: 30px;
        max-height: 30px;

        // margin: 0 -4px;
        picture {
          height: 100%;
          overflow: hidden;
          overflow: clip;
          border-radius: 50px;
          border: 2px solid #fff;

          img {
            // width: 100%;
            // height: 100%;
            object-fit: cover;
          }
        }
      }

    }

    &:hover {
      background-color: #dcdfec;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

      &::-webkit-scrollbar {
        width: 4px;
        /* Set the width of the scrollbar */
      }

      &::-webkit-scrollbar-thumb {
        background-color: #8a8a8a61;
        /* Color of the thumb */
        border-radius: 50px;
      }

      &::-webkit-scrollbar-track {
        background-color: #f6f7fb;
        /* Color of the track */
      }
    }
  }

}

.kanban-section {
  overflow: hidden;
  margin-left: 10px;

  main {
    padding: $spacing-xl $spacing-xl 0px $spacing-xl;
    padding-top: $spacing-medium;
    padding-left: $spacing-xl + 6px;
    overflow-x: auto;
    overflow-y: hidden;
    height: 81.4%;
    background-color: white;
    padding-top: 16px;
    // padding-right: 32px;
    border-top: 1px solid #d0d4e4;


    &::-webkit-scrollbar {
      height: 12px;
      // width: 2px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 50px;
      background-color: #8a8a8a61;
      /* Color of the thumb */
    }

    &::-webkit-scrollbar-track {
      background-color: #f6f7fb;
      /* Color of the track */
    }
  }
}