.group-title {
  .group-title-input {
    display: flex;
    align-items: center;
    input {
      padding: 0 0.1px;
      font: 500 18px/24px Poppins;
      height: 28px;
      // max-height: 28px;
      width: 60vw;
    }
  }

  .group-title {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;

    span {
      font: 500 18px/24px Poppins;
    }
  }
}
