.side-bar {
  border-top-right-radius: 8px;
  color: #323338;
  position: relative;
  background-color: white;

  .side-bar-container {
    .side-bar-link-container {
      border-bottom: 1px solid #d0d4e4;
      gap: 2px;
      padding-left: calc($spacing-small + 4px);
      padding-right: calc($spacing-xxl - 8px);
      padding-block: calc($spacing-small + 4px);
      .my-work {
        svg {
          width: 20px;
          height: 20px;
        }
      }
      a {
        min-height: 32px;
        font: 400 14px/20px Figtree;
        border-radius: $border-radius-medium;
        padding: $spacing-xs $spacing-small - 2px;

        &:hover {
          background-color: #dcdfec;
        }

        &:active {
          background-color: $color-highlight-blue;
        }

        svg {
          width: 18px;
          height: 18px;
        }
      }
    }

    .side-bar-footer {
      .title-wrapper {
        .filter-container {
          padding-left: calc($spacing-small + 4px);
          padding-right: $spacing-medium;
          padding-bottom: $spacing-small;

          .filter-search {
            max-width: 180px;
            border: 1px solid #d0d4e4;
            border-radius: $border-radius-small;
            button {
              &.filter {
                display: none;
              }
            }
            input {
              margin-bottom: 1px;
              font-size: 14px;
              width: 100%;
              height: 32px;
              border: none;
              padding: 0;
              &:focus {
                // border: 1px solid red;
              }
            }
            &:hover{
              button {
                &:active {
                  // background-color: red;
                }
                &.filter {
                  display: flex;
                }
              }
            }
          }

          .add-btn {

            svg {
              color: white;
            }
          }
        }

        .workspace-dropdown-button {
          // align-items: center;
      padding-left: calc($spacing-small + 4px);
          margin-right: 14px;
          margin-bottom: 8px;
          margin-top: 14px;
          .dropdown-button {
            width: 100%;
            border-radius: $border-radius-small;
            padding: 5px;
            max-width: 180px;
            &:hover {
              background-color: #dbdfec;
            }

            .workspace-title {
              font: 600 15px Figtree;
              cursor: pointer;
              .workspace-name-wrapper {
                span {
                  padding: 0 3px;
                  border: 1px solid transparent;
                }
              }
            }
          }
        }
      }
    }
  }

  .close-btn {
    border-radius: 0 $border-radius-medium 0 $border-radius-medium;
    background-color: #f6f7fb;
    position: absolute;
    padding: calc($spacing-small + 4px) $spacing-small
      calc($spacing-small + 4px) $spacing-small;
    right: 0;
    top: 0;
    opacity: 0;
  }

  &:hover {
    .close-btn {
      opacity: 1;
    }
  }
}

.side-bar-close {
  .close-btn {
    opacity: 1;
  }
  .side-bar-container {
    display: none;
  }

  &:hover {
    min-width: 255px;
    animation: none;
    box-shadow: 0 6px 20px rgba(0,0,0,.2);
    z-index: 100000000;
    .side-bar-container {
      // width: 255px;
    animation: none;
      display: flex;
    }
  }
}

.workspaces-list {
  margin-top: 4px;
  .workspace-item {
    .context-menu {
     position: absolute;
     display: none;
     right: 20px;
    }
  &:hover {
    .context-menu {
      display: flex;
    }
  }
    width: 100%;
    padding: 0 12px;
    a {
      width: 100%;
      font: 400 14px/20px Figtree;

      .svg {
        margin-right: $spacing-small;
      }
    }

    & a.active {
      background-color: #cce5ff;
      border-radius: $border-radius-small;
    }

    .link {
      width: 100%;
      padding: $spacing-small - 2px $spacing-small;
      .nav-link-content {
        // padding-left: calc($spacing-small);
        display: flex;
        justify-content: flex-start;
      }
      &:hover {
        background-color: #dbdfec;
        border-radius: $border-radius-small;
      }
    }
  }
}

.workspace-context-container {
  box-shadow: $box-shadow-small;
  color: #323338;

  min-width: 280px;
  min-height: 225px;
  padding: $spacing-medium - 4px;
  top: 196px;
  left: $spacing-small;
  position: fixed;
  background-color: white;
  border-radius: $border-radius-medium;
  z-index: 150;

  .divider {
    box-sizing: content-box;
    border-width: 1px;
    border-style: solid;
    opacity: 0.1;
    border-image-slice: 1;
    margin-bottom: 8px;
  }

  .workspace-context-header {
    .workspace-options {
      span {
        font: 400 14px/20px Figtree;
      }

      .option {
        padding: $spacing-xs 0;
        align-items: flex-start;

        button {
          padding: $spacing-small + 1px;
          width: 100%;
          display: flex;
          justify-content: start;
          align-items: center;

          span {
            gap: $spacing-small;
            align-items: center;
          }
        }
      }
    }

    .workspace-search {
      input {
        border: none;

        &::placeholder {
          font-size: 0.8rem;
        }
      }

      border: 1px solid #d0d4e4;
      border-radius: $border-radius-small;
      height: 30px;
    }
  }

  .workspace-context-body {
    font: 400 14px/20px Figtree;

    p {
      font: 400 14px Figtree;
    }

    .option {
      // background: red;
      display: flex;
      padding: $spacing-xs 0;

      button {
        font-size: 14px;
        padding: $spacing-small + 1px;
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;

        span {
          gap: $spacing-small;
          align-items: center;
        }
      }
    }
  }

  .work-space-btns {
    font-size: 0.8rem;
  }
}

.work-space-btns {
  // border-top: 1px solid;
  font: 400 14px Figtree;

  button {
    flex-direction: row;
  }
}

.header-menu {
  position: relative;
}

.filter-modal {
  font: 400 14px/20px Figtree;
  box-shadow: $box-shadow-medium;
  color: #323338;

  max-width: 280px;
  min-height: 225px;
  padding: $spacing-small;
  top: 248px;
  left: 176px;
  position: fixed;
  background-color: white;
  border-radius: $spacing-small;
  z-index: 300;

  .filter-container {
    .filter-heading {
      margin-bottom: $spacing-small;
    }
    input {
      font-size: 14px;
    }
    .option {
      margin-bottom: $spacing-xs;
    }

    .filter-divider {
      width: 100%;
      box-sizing: content-box;
      border-width: 1px;
      border-style: solid;
      opacity: 0.1;
      border-image-slice: 1;
      margin: $spacing-small 0;
    }
  }
}
