.side-bar {
  border-top-right-radius: 10px;
  position: relative;
  color: #323338;
  background-color: #ffffff;
  margin-left: 3px;
  max-width: 255px;

  .side-bar-container {
    // background-color: red;
    .side-bar-link-container {
      // background-color: blue;
      border-bottom: 1px solid #d0d4e4;
      display: flex;
      flex-direction: column;
      gap: 2px;
      padding-left: 6px;
      padding-right: 40px;
      padding-block: 12px;
      width: 100%;
      align-items: left;
      
      a {        
        font: 400 14px/20px Figtree;
        border-radius: 7px;
        padding: 6px 8px;
        display: flex;
        gap: 8px;
        align-items: center;

        &:hover {
          background-color: #dcdfec;
        }

        &:active {
          background-color: #cce5ff;
        }
      }
    }
    .side-bar-footer {
      
      .title-wrapper {
        .filter-container {
          
          // background-color: orange;
          padding-left: 14px;
          padding-right: 16px;
          padding-bottom: 8px;
          .filter-search {
            max-width: 180px;
            min-height: 30px;
            border: 1px solid #d0d4e4;
            border-radius: 4px;
      
            input {
              border: none;
              padding: 0;
            }
          }
          .add-btn {
            margin-left: 10px;
          }
        }
        .workspace-dropdown-button {
          display: flex;
          align-items: center;
          width: unset;
          border-radius: 4px;
          padding: 16px;
          .workspace-title{
            gap: 8px;
            align-items: center;
            font: 600 14px/20px Figtree;
            // font-weight: 600;

          }
          .workspace-icon {
            display: flex;
          }
          .dropdown-icon-wrapper {

            .chvron-down {
              display: flex;
              margin-right: 10px;
              svg {
                width: 14px;
                height: 14px;
              }
            }
          }
        }
      }
    }
  }

  .close-btn {
    border-radius: 0 8px 0 8px;
    background-color: #f6f7fb;
    position: absolute;
    padding: 12px $spacing-small 12px $spacing-small;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
  }

  &.side-bar-close {
    width: 35px;
    padding: 0;
  }
}

.workspaces-list {
  // background-color: red;
  justify-content: center;
  padding-left: 14px;
  padding-right: 12px;
  padding-bottom: 8px;
  .workspace-item {
    .link {
      // background-color: red;
      padding: 6px 8px;
      
      width: 100%;
      &:hover {
        background-color: #dbdfec;
        border-radius: 4px;
      }
      a {
        font: 400 14px/20px Figtree;
        .svg {
          margin-right: 8px;
        }
        
      }
    }
    // width: 50%;
    // background-color: blue;
  }
  .menu-btn {
  }
  a {
    padding: 0;
  }
}







.workspace-context-container {
  box-shadow: 0px 0px 8px 1.5px rgba(0, 0, 0, 0.2);
  min-width: 280px;
  min-height: 225px;
  padding: 12px;
  left: 5px;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  z-index: 150;
  display: flex;
  flex-direction: column;
  gap: 12px;
  // justify-content: space-between;

  .workspace-context-header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #d0d4e4;

    .workspace-context-middle {
      gap: 12px;
      display: flex;
      flex-direction: column;

      div {
        margin-bottom: 10px;

        >* {
          margin-bottom: 10px;
        }
      }
    }

    .workspace-search {
      input {
        border: none;

        &::placeholder {
          font-size: 0.8rem;
        }
      }

      border: 1px solid #d0d4e4;
      border-radius: 7px;
      height: 30px;
    }
  }

  .work-space-btns {
    font-size: 0.8rem;
  }
}

.work-space-btns {
  button {
    flex-direction: row;
  }
}