.main-layout {
  display: grid;
  grid-template-columns: 0 1fr 0;
  height: 100dvh;
  grid-template-rows: auto 1fr;
  & > .full {
    grid-column: 1 / -1;
  }
  & > :not(.full) {
    grid-column: 2;
  }
}


main {
  overflow: auto;
  display: grid;
  transition: grid-template-columns 1s;
  gap: 12px;

  .side-bar {
    grid-column: 1;
    transition: width 1s;
  }

  &:has(.side-bar) {
    grid-template-columns: 255px 1fr;

    .side-bar {
      width: 255px;

      .side-bar-container {
        animation: sideBarOpen 1s;
      }
    }
  }

  &:has(.side-bar-close) {
    grid-template-columns: 35px 1fr;

    .side-bar {
      width: 35px;

      .side-bar-container {
        animation: sideBarClose 1s;
      }
    }
  }

  .work-space-board {
    grid-column: 2;
    margin-left: 10px;
    overflow-y: auto;
  }
}