// status-picker-cell
// number-picker-cell
// timeline-picker-cell
// description-picker-cell
// file-picker-cell
// member-picker-cell
// date-picker-cell
// checkbox-cell
// empty-add-cell
// task-title

.checkbox-cell {
  $checkmark-color: rgba(36, 222, 36, 0.688);
  min-width: 50px;
  height: 100%;
  input[type='checkbox'] {
    padding: 0;
    margin: 0;
    min-width: 16px;
    height: 16px;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 2px;
    transform: translateY(-0.075em);
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
      content: '';
      min-width: 0.65em;
      height: 0.65em;
      transform: scale(0);
      transition: transform 120ms ease-in-out;
      box-shadow: inset 1em 1em #fff;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      // background-color: #fff;
    }

    &:checked::before {
      transform: scale(1);
    }

    &:checked {
      background-color: #0073ea;
      border: 0;
    }
  }
}
.board-view-group {
  .title {
    min-width: 350px !important;
    padding: 0 4px;
    button {
      opacity: 0;
    }

    &:hover {
      button {
        opacity: 1;
      }
    }
  }
}

.status-picker-cell {
  min-width: 180px;

  // TODO: Add corner fold effect
}

.member-picker-cell {
  min-width: 160px;
}

.date-picker-cell {
  min-width: 170px;
  div {
    button {
      opacity: 0;
    }
  }
  &:hover {
    div {
      button {
        opacity: 1;
      }
    }
  }
}

.timeline-picker-cell {
  min-width: 180px;
  div {
    button {
      opacity: 0;
    }
  }
  &:hover {
    div {
      button {
        opacity: 1;
      }
    }
  }
  .pill {
    // background-color: #333;
    border-radius: 15px;
    padding: 0 7px;
    color: white;

    height: 22px;
    text-align: center;
    min-width: 115px;
  }
}

.description-picker-cell {
  width: 180px;
  overflow: none;
}

.file-picker-cell {
  min-width: 180px;
  div {
    .test1 {
      opacity: 0;
    }
    .test4 {
      opacity: 0;
    }
    .test5 {
      opacity: 0;
    }
  }
  &:hover {
    div {
      .test1 {
        opacity: 1;
      }
      .test4 {
        opacity: 1;
      }
      .test5 {
        opacity: 1;
      }
    }
  }
}

.number-picker-cell {
  min-width: 180px;
}

.empty-add-cell {
}

.editable-text-input {
  // min-width: 200px !important;
  background-color: red;
}

.multiLine-text {
  position: absolute;
  background-color: white;
  z-index: 999;
  right: 50%;
  top: 0;
  transform: translate(50%, -5%);
}

.empty-date-cell {
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}
