// status-picker-cell
// number-picker-cell
// timeline-picker-cell
// description-picker-cell
// file-picker-cell
// member-picker-cell
// date-picker-cell
// checkbox-cell
// empty-add-cell
// task-title

.checkbox-cell {
  width: 50px;
  input {
    scale: 1.4;
  }
}

.task-title {
  min-width: 350px;
}

.status-picker-cell {
  min-width: 180px;
}

.member-picker-cell {
  min-width: 160px;
}

.date-picker-cell {
  min-width: 170px;
}

.timeline-picker-cell {
  min-width: 180px;

  .pill {
    // background-color: #333;
    border-radius: 15px;
    padding: 0 7px;
    color: white;
    height: 22px;
    text-align: center;
    width: 115px;
  }
}

.description-picker-cell {
  min-width: 180px;
}

.file-picker-cell {
  min-width: 180px;
}

.number-picker-cell {
  min-width: 180px;
}

.empty-add-cell {
}

.editable-text-input {
  width: 200px !important;
}