// status-picker-cell
// number-picker-cell
// timeline-picker-cell
// description-picker-cell
// file-picker-cell
// member-picker-cell
// date-picker-cell
// checkbox-cell
// empty-add-cell
// task-title

.checkbox-cell{
  width: 50px;
  input{
    scale: 1.4;
  }
}

.task-title {
  min-width: 350px;
}

.status-picker-cell {
  min-width: 150px;
}

.member-picker-cell{


}

.date-picker-cell{
  min-width: 150px;
}

.timeline-picker-cell{
  min-width: 150px;
}

.empty-add-cell{
}

