.work-space-board {
  .board-header {
    margin-inline-start: -4px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title-wrapper {
      display: flex;
      gap: $spacing-small;
      align-items: center;
      margin-inline-end: $spacing-small;
      flex-grow: 0; // Allow title-wrapper to grow and take available space
      white-space: nowrap; // Prevent text from wrapping to the next line
      overflow: hidden;
      text-overflow: ellipsis;
      .board-header-title {
        font-family: Poppins;
        font-weight: 500;
        font-size: 24px;
      }
    }
    .header-btns {
      flex-grow: 1;
      display: flex;
      gap: 10px; // Adjust the gap between buttons
      justify-content: space-between;
      .left-btns{
        display: flex;
      }
      .right-btns{
        display: flex;
      }
    }

    @media (max-width: 600px) {
      // Media query for small screens
      .title-wrapper {
        flex-grow: 0; // Prevent title-wrapper from growing on small screens
      }
    }
  }
}
