.work-space-board {
  .workspace-board-header {
    padding: 30px 30px 0px 30px;
    padding-top: 16px;
    padding-left: 38px;

    .board-header {
      max-height: 40px;
      padding: 2px 0;

      h2 {
        padding: 0 4px;
        font: 500 24px/30px Poppins;
        letter-spacing: -0.1px;
        color: #323338;
      }

      .header-btns {
        flex-grow: 1;
        margin-left: 6px;

        .left-btns,
        .right-btns {
          button {
            padding: 6px;

            svg {
              color: #676879;
            }
          }
        }
      }
    }
    @media (max-width: 600px) {
      .title-wrapper {
        flex-grow: 0;
      }
    }
  }
}