.board-group-table-container {
  // background-color: pink;
  // width: 100%;
  display: grid;
  border-radius: 8px;
  // grid-template-columns: max-content;
  // grid-auto-flow: column;

  .table-body-row {
    display: grid;
    grid-template-columns: var(--gtc);
    grid-auto-flow: column;
  }

  .group-table-header-cell {
    // grid-row: 1;
    position: relative;
    z-index: 9;

    .context-menu {
      display: none;
      position: absolute;
      right: 4px;
      top: 4px;
    }

    &:hover {
      .context-menu {
        display: flex;
        position: absolute;
        right: 4px;
        top: 6px;
      }
    }
  }

  & > * {
    height: 37px;
    border: 1px solid #eee;
    background-color: #fff;
    z-index: 10;
  }

  .first-row-cell {
    border-top-left-radius: 8px;
  }

  .last-row-cell {
    border-bottom-left-radius: 8px;
  }

  .last-row {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

  .first-column {
    position: relative;
    --before-color: blue;
  }

  .first-column::before {
    position: absolute;
    content: '';
    height: 105%;
    left: 0;
    width: 8px;
    background-color: var(--before-color);
  }

  .first-row-cell.first-column::before {
    border-top-left-radius: 8px;
  }

  .last-row-cell.first-column::before {
    border-bottom-left-radius: 8px;
  }

  .checkbox-cell {
    background-color: #fff;
    position: sticky;
    left: 0;
    z-index: 10;
  }

  .title {
    background-color: #fff;
    position: sticky;
    left: 48px;
    top: 0;
    z-index: 15;
  }

  .add-task-lr {
    background-color: #fff;
    position: sticky;
    left: 68px;
    top: 0;
    z-index: 15;
  }
  &:has(.empty-column) {
    border: none;
  }
  .empty-column {
    position: sticky;
    width: 100%;
    height: 100%;
    left: 48px;
    top: 0px;
    z-index: 15;
    background-color: #fff;
  }
}
